@import 'tailwindcss';

@layer utilities{
  .cursorspan{
    @apply w-4 h-4 -translate-x-1/2 -translate-y-1/2 z-[999] pointer-events-none fixed   bg-cursor rounded-full;
   
  }
.pattern {
    @apply relative inline-block px-10 py-3;
  }

  .pattern::before {
    content: '';
   
    @apply absolute top-0 left-0 w-full h-full bg-blue-500 rotate-180;
    mask-image: url('./assets/pattern.png');
    -webkit-mask-image: url('./assets/pattern.png'); /* Safari support */
  
    mask-size: 120%;
    mask-repeat: no-repeat;
    mask-position: right;
    animation: maskscale 3s infinite ease-in;
    
    
  }
}

@theme inline{
  --color-cursor:var(--color-orange-500);
  
 
  
}

body,html{
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;

}



@keyframes scaleIn {
  0% { transform: scale(0.7); }
  25% { transform: scale(1.0); }
  40%{
    transform: scale(1.2);
  }
    60%{
    transform: scale(0.0);
  }
  100%{
    transform: scale(1.0);
  }
}
@keyframes wave{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes maskscale{
  0%{
    mask-size: 0% 100%;
    mask-position: 120%;
  }20%{
    mask-size: 100% 100%;
  }
  60%{
     mask-size: 100% 100%;
  }
   100%{
     mask-size: 100% 100%;
  }
}
body::-webkit-scrollbar{
  background:white;
  width: 10px;
  
}
body::-webkit-scrollbar-thumb{
  background-color: var(--color-green-600);
  border-radius: 40px;
}

.wave{
  animation: wave 10s infinite linear;
}






